.home-menu {
  text-align: justify-center;
  width: 100%;
  top: 20px;
  margin-top: 10rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-menu h1 {
  width: 90%;
  font-size: 3rem;
  font-weight: 800;
}
.home-menu p {
  width: 70%;
  font-size: 1.3rem;}
.show {
  margin: 0.5rem;
  text-decoration: none;
  background-color: rgb(197, 155, 236);
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 555px) {
  .home-menu h1 {
    padding: 10px 20px;
    font-weight: 800;
    font-size: 2rem;
  }
  .home-menu p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
  .show {
    font-size: 1rem;
    padding: 0.6rem 1.1rem;
  }
}
